html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: Zdyk;
  src: url(../assets/Zdyk.otf);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.all-container {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/mainbg.png);
  background-size: cover;
}

.hand-left-outer {
  width: 75%;
  height: 80%;
  position: absolute;
  left: 0;
  top: -0px;
  z-index: 4;
  transform: translateX(-1000px);
  .hand-left-img {
    img {
      width: 650px;
      left: 0px;
      bottom: 0px;
    }
  }
  .egg-left-img {
    img {
      margin-left: 270px;
      margin-bottom: 65px;
      width: 150px;
      left: 0px;
      bottom: 0px;

      &:hover {
        cursor: pointer;
        animation: shake 0.5s;

        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      }
    }
  }
  .snake-icon-img {
    img {
      margin-left: 40px;
      margin-bottom: 130px;
      width: 70px;
      left: 0px;
      bottom: 0px;
      z-index: 100;
      transition: 0.2s ease;
      &:hover {
        transition: 0.2s ease;
        filter: drop-shadow(2px 2px 3px rgb(255, 255, 255));
      }
    }
  }

  img {
    width: 100%;
    position: absolute;
  }
}

canvas {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 5;
  background-color: transparent;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hand-right-outer {
  width: 75%;
  height: 80%;
  position: absolute;
  right: 0;
  transform: translateX(1000px);
  // left: 0;

  top: -300px;
  z-index: 4;
  .hand-right-img {
    img {
      width: 580px;
      right: 0px;
      bottom: -40px;
    }
  }
  .egg-right-img {
    img {
      cursor: pointer;
      margin-right: 230px;
      margin-bottom: 30px;
      width: 150px;
      right: 0px;
      bottom: 0px;

      &:hover {
        animation: shake 0.5s;

        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      }
    }
  }

  img {
    width: 100%;
    position: absolute;
  }
}

.mouth-gif {
  cursor: pointer;
  position: fixed;
  right: -200px;
  bottom: 60px;
  opacity: 0;
  img {
    width: 50%;
  }
}

/// modal

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  transition: 1s;
}

.start-btn-outer {
  border: 10px solid rgb(82, 63, 255);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  opacity: 0.7;
  transition: 0.5s ease;

  &:hover {
    opacity: 1;
  }
}

.start-btn {
  cursor: pointer;
  display: flex;
  width: 400px;
  height: 100px;
  background: rgb(68, 217, 209);
  background: linear-gradient(
    0deg,
    rgba(68, 217, 209, 1) 0%,
    rgba(0, 71, 84, 1) 0%,
    rgba(60, 164, 139, 1) 100%
  );
  p {
    background: -webkit-linear-gradient(rgb(255, 235, 168), rgb(255, 184, 78));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Zdyk;
    font-size: 25px;
    margin: auto;
    padding: 20px;
  }
}
